<h1> Recipe randomizer </h1>

<div class="grid-container">

<div clasS="new-container">
  <app-new-recipe (valueAdded)="getRecipes()"></app-new-recipe>
</div>

<div class="random-container">
  <app-random></app-random>
</div>

<div class="table-container">
  <table class="rtable">
    <tr>
      <th>Recipe name</th>
      <th>Rating</th>
      <th>Number of times cooked</th>
      <th>Last cooked on</th>
      <th>Add a cooked meal</th>
    </tr>
    <tr *ngFor="let recipe of recipes">
      <td>
        {{recipe.name}}
      </td>
      <td class="table-numbers">
        {{recipe.rating}}
      </td>
      <td class="table-numbers">
        {{recipe.timesCooked}}
      </td>
      <td>
        {{recipe.lastCooked}}
      </td>
      <td>
        <button (click)="cookedThis(recipe)"> I cooked this today</button>
      </td>
    </tr>
  </table>
</div>
