<h1> Recipe randomizer </h1>

<div style="display:inline-block; margin: 0 auto; margin-bottom: 50px;">
  <app-new-recipe (valueAdded)="getRecipes()"></app-new-recipe>
</div>

<br>

<div class="random-container">
  <app-random></app-random>
</div>

<br>

<table class="rtable">
  <tr>
    <th>Recipe name</th>
    <th>Rating</th>
    <th>Number of times cooked</th>
    <th>Last cooked on</th>
    <th>Add a cooked meal</th>
  </tr>
  <tr *ngFor="let recipe of recipes">
    <td>
      {{recipe.name}}
    </td>
    <td class="table-numbers">
      {{recipe.rating}}
    </td>
    <td class="table-numbers">
      {{recipe.timesCooked}}
    </td>
    <td>
      {{recipe.lastCooked}}
    </td>
    <td>
      <button (click)="cookedThis(recipe)"> I cooked this today</button>
    </td>
  </tr>
</table>
